@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/gray.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--blue-1);
    --foreground: var(--blue-12);
    --card: var(--blue-2);
    --card-foreground: var(--blue-12);
    --popover: var(--blue-2);
    --popover-foreground: var(--blue-12);
    --primary: var(--blue-5);
    --primary-foreground: var(--blue-1);
    --secondary: var(--blue-3);
    --secondary-foreground: var(--blue-11);
    --muted: var(--blue-4);
    --muted-foreground: var(--blue-10);
    --accent: var(--blue-10);
    --accent-foreground: var(--blue-1);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--blue-1);
    --border: var(--blue-5);
    --input: var(--blue-3);
    --ring: var(--blue-9);
    --radius: 0.5rem;
    --item: var(--gray-11);
  }

  .dark {
    --background: var(--blue-dark-9);
    --foreground: var(--blue-dark-12);
    --card: var(--blue-dark-2);
    --card-foreground: var(--blue-dark-12);
    --popover: var(--blue-dark-2);
    --popover-foreground: var(--blue-dark-12);
    --primary: var(--blue-5);
    --primary-foreground: var(--blue-dark-1);
    --secondary: var(--blue-dark-3);
    --secondary-foreground: var(--blue-dark-11);
    --muted: var(--blue-dark-4);
    --muted-foreground: var(--blue-dark-10);
    --accent: var(--blue-dark-10);
    --accent-foreground: var(--blue-dark-1);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--blue-dark-1);
    --border: var(--blue-dark-5);
    --input: var(--blue-dark-3);
    --ring: var(--blue-dark-9);
    --item: var(--gray-12);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--blue-9);
  text-decoration: inherit;
}
a:hover {
  color: var(--blue-10);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: var(--primary-foreground);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
